

<div class="footer-ino" style="color:black;">

<div class="contact" style="color:white;display:inline;" >



</div>
	<div class="row">
		<div class="footer-col-left col-sm-6 col-12" style="color:black">
			{% if copyright %}
			&copy; {{ copyright }}
			{% endif %}
			{% if footer_address %}
			{% if copyright %}<br>{% endif %}
			{{ footer_address }}
			{% endif %}
		</div>
		{# powered #}
		
		
		
		
		
		<!--<div class="footer-col-right col-sm-6 col-12 footer-powered" style="color:black;">
			{% block powered %}
			{% include "templates/includes/footer/footer_powered.html" %}
			{% endblock %}
		</div> -->
	</div>
</div>

<!--
<script>

	frappe.ready(function() {
			frappe.call({
				 method: "frappe.general.mobile", 
				 args:{},
				callback: function(r) {
					var r = r.message;
					document.getElementById("mobile").innerHTML = r;
				}
			});
  		});
</script>
-->
